services:

  server:
    image: ourlink/mintsolo:latest@sha256:124207f42c6e671f76b0e670fd85639a702c3ea7b34590a75cedc7c846857a05
    restart: unless-stopped
    ports:
      - 3067:3067/tcp
      - 3068:3068/tcp
    volumes:
      - ${APP_DATA_DIR}/data/database:/mintsolo/DB
    environment:
      NODE_ENV: production
      BITCOIN_RPC_URL: http://${APP_BITCOIN_NODE_IP}
      BITCOIN_RPC_USER: ${APP_BITCOIN_RPC_USER}
      BITCOIN_RPC_PASSWORD: ${APP_BITCOIN_RPC_PASS}
      BITCOIN_RPC_PORT: ${APP_BITCOIN_RPC_PORT}
      DEV_FEE_ADDRESS: 13hHuBNEkwdnzSVB9aczAY4Nc9FT987qeL
      BITCOIN_RPC_TIMEOUT: 10000
      STRATUM_PORT: 3067
      API_PORT: 3068
      NETWORK: mainnet
      API_SECURE: false
      ENABLE_SOLO: true
      ENABLE_PROXY: false
      POOL_IDENTIFIER: MintSolo Umbrel
  zrok-init:
    image: busybox:latest@sha256:e3652a00a2fabd16ce889f0aa32c38eec347b997e73bd09e69c962ec7f8732ee
    command: chown -Rc 2171:2171 /mnt/
    user: root
    volumes:
      - ${APP_DATA_DIR}/data/.zrok:/mnt
  zrok-enable:
    image: docker.io/openziti/zrok:latest@sha256:ce807816d16a0975763ef5537a58aa3f63fd6d08c8fdc6c882a2d92aa35dac11
    depends_on:
      zrok-init:
        condition: service_completed_successfully
    entrypoint: zrok-enable.bash
    volumes:
      - ${APP_DATA_DIR}/data/.zrok:/mnt
    environment:
      HOME: /mnt
      ZROK_ENABLE_TOKEN: Ffe1FB6sGwn9
      ZROK_API_ENDPOINT: https://zrok.shared.mintsolo.app
      ZROK_ENVIRONMENT_NAME: MintSolo
  zrok-share:
    image: docker.io/openziti/zrok:latest@sha256:ce807816d16a0975763ef5537a58aa3f63fd6d08c8fdc6c882a2d92aa35dac11
    restart: unless-stopped
    entrypoint: zrok-share.bash
    depends_on:
      zrok-enable:
        condition: service_completed_successfully
    volumes:
      - ${APP_DATA_DIR}/data/.zrok:/mnt
    environment:
      HOME: /mnt
      ZROK_BACKEND_MODE: proxy
      ZROK_TARGET: http://server:3068
      ZROK_INSECURE: null
      PFXLOG_NO_JSON: "true"
  mintsolo-intro:
    image: ourlink/mintsolo-intro:latest@sha256:2203a979caafc99d9845652a137b1b616185577f3340d0edd7c6977866360833
    ports:
      - 3070:80
    volumes:
      - ${APP_DATA_DIR}/data/.zrok:/mnt
    restart: unless-stopped
    healthcheck:
      test:
        - CMD
        - wget
        - --quiet
        - --tries=1
        - --spider
        - http://localhost/health
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 5s

# volumes:
#   zrok_env: null

networks:
  mintpool:
    external: true
