services:

  server:
    image: ourlink/mintsolo:latest@sha256:fcd732af7fe040012cada9b8540a37db26cb3ed31c5ac12ecfd90e8dc4266656
    restart: unless-stopped
    ports:
      - 4067:4067/tcp
      - 4068:4068/tcp
    volumes:
      - ${APP_DATA_DIR}/data/database:/mintsolo/DB
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:4068/api/info"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 15s # Time to wait after container start before checks begin
    environment:
      NODE_ENV: production
      BITCOIN_RPC_URL: http://${APP_BITCOIN_NODE_IP}
      BITCOIN_RPC_USER: ${APP_BITCOIN_RPC_USER}
      BITCOIN_RPC_PASSWORD: ${APP_BITCOIN_RPC_PASS}
      BITCOIN_RPC_PORT: ${APP_BITCOIN_RPC_PORT}
      DEV_FEE_ADDRESS: 13hHuBNEkwdnzSVB9aczAY4Nc9FT987qeL
      BITCOIN_RPC_TIMEOUT: 10000
      STRATUM_PORT: 4067
      API_PORT: 4068
      NETWORK: mainnet
      API_SECURE: false
      ENABLE_SOLO: true
      ENABLE_PROXY: false
      POOL_IDENTIFIER: MintSolo Umbrel
  zrok-init:
    image: busybox:latest@sha256:e3652a00a2fabd16ce889f0aa32c38eec347b997e73bd09e69c962ec7f8732ee
    command: chown -Rc 2171:2171 /mnt/
    user: root
    volumes:
      - ${APP_DATA_DIR}/data/zrok_env:/mnt
  zrok-enable:
    image: docker.io/openziti/zrok:latest@sha256:ce807816d16a0975763ef5537a58aa3f63fd6d08c8fdc6c882a2d92aa35dac11
    depends_on:
      server:
        condition: service_healthy
      zrok-init:
        condition: service_completed_successfully
    entrypoint: zrok-enable.bash
    volumes:
      - ${APP_DATA_DIR}/data/zrok_env:/mnt
    environment:
      HOME: /mnt
      STATE_DIRECTORY: /mnt
      ZROK_ENABLE_TOKEN: Ffe1FB6sGwn9
      ZROK_API_ENDPOINT: https://zrok.shared.mintsolo.app
      ZROK_ENVIRONMENT_NAME: MintSolo
  zrok-share:
    image: docker.io/openziti/zrok:latest@sha256:ce807816d16a0975763ef5537a58aa3f63fd6d08c8fdc6c882a2d92aa35dac11
    restart: unless-stopped
    entrypoint: zrok-share.bash
    depends_on:
      server:
        condition: service_healthy
      zrok-enable:
        condition: service_completed_successfully
    volumes:
      - ${APP_DATA_DIR}/data/zrok_env:/mnt
    environment:
      HOME: /mnt
      STATE_DIRECTORY: /mnt
      ZROK_BACKEND_MODE: proxy
      ZROK_TARGET: http://server:4068
      ZROK_INSECURE: null
      PFXLOG_NO_JSON: "true"
  mintsolo-intro:
    image: ourlink/mintsolo-intro:latest@sha256:7ae70baa4aae9f2284f25ec23dc4c347ba3d858ba0b1a6c35700ccbfed1d07e1
    depends_on:
      server:
        condition: service_healthy
      zrok-enable:
        condition: service_completed_successfully
    ports:
      - 4070:80
    volumes:
      - ${APP_DATA_DIR}/data/zrok_env:/mnt
    restart: unless-stopped
    healthcheck:
      test:
        - CMD
        - wget
        - --quiet
        - --tries=1
        - --spider
        - http://localhost/health
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 5s

volumes:
  zrok_env: null

networks:
  mintpool:
    external: true
